/containers
/raw_data
*.sif
*fastq.gz

README.md
.Rproj.user
.Rproj.user/3C87DE70/pcs/files-pane.pper
.Rproj.user/3C87DE70/pcs/source-pane.pper
.Rproj.user/3C87DE70/pcs/windowlayoutstate.pper
.Rproj.user/3C87DE70/pcs/workbench-pane.pper
.RData
.Rhistory
